<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/> <!-- robot_name for use NAMESPACE -->
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->
  <arg name="is_run_node" default="true"/>

    <!-- You can change control program  -->


    <!-- sample program node -->
    <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
      <arg name="side" value="$(arg side)" />
    </include>

    <node pkg="burger_war" type="myRun.py" name="randomRun" output="screen" if="$(arg is_run_node)">
      <param name="rside" value="$(arg side)" />
    </node>
    <!-- <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen"/> -->

    <!-- END sample program node -->


    <!-- End of your space  -->
</launch>

